@font-face {
    font-family: "TrajanPro3";
    src: local("TrajanPro3 SemiBold"), local("TrajanPro3-SemiBold"),
    url("../fonts/TrajanPro3SemiBold.woff2") format("woff2"),
    url("../fonts/TrajanPro3SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;  
}

:root {
    --background-color: #060C1C;
    --button-background: linear-gradient(135deg, #4580D9 18.00%, #D036B8 100%);
    --hover-color: #81b3ff;
    --background-btn-hover: #5d75d4;
    --form-color: #384b7b;
    --footer-background-color: #0e1c40;
}

body {
    margin: 0;
    min-width: 375px;
    font-family: "Montserrat", "TrajanPro3";
    font-weight: 400;
    background-color: var(--background-color);
    background-image: url(./onearticleimg/aboutMe.webp);
    background-repeat: repeat-y;
    background-position: top left;
    background-size: cover;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.btn {
    padding: 0;
    border: 1px solid transparent;
    font-family: "Montserrat";
    background-color: transparent;
    cursor: pointer;
}

.oa-btn-transparent {
    padding: 10px 37px;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 500;
    color: var(--hover-color);
    border-radius: 6px;
    border: 1px solid var(--hover-color);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-link {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1432px;
    margin: 0 auto;
    padding: 0 10px;
}

.onearticle__container {
    display: grid;
    gap: 143px;
    grid-template: 
    "content aside" 1fr
    / auto 340px;
}

.onearticle__contant {
    grid-area: content;
}

.aside {
    grid-area: aside;
}

.section-back {
    margin-bottom: 17px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "TrajanPro3";
    font-style: normal;
    font-weight: 600;
    line-height: 140.4%; 
}

.section-back__onearticle {
    margin-bottom: 22px;
    text-align: left;
}

.oa-title {
    margin-bottom: 31px;
    font-size: 48px;
    font-family: "TrajanPro3";
    font-style: normal;
    font-weight: 600;
    line-height: 140.4%;
    color: #fff;
}

.aside {
    padding-top: 68px;
}

.aside__title {
    margin-bottom: 42px;
    font-size: 24px;
}

.aside__list {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.aside__item {
    display: flex;
    flex-direction: column;
    min-height: 480px;
    text-align: center;
}

.aside__img {
    margin-bottom: 20px;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
}

.aside__paragraph {
    margin: 0;
    margin-bottom: 6px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}

.aside__paragraph-price {
    margin-bottom: auto;
    font-weight: 600;
    font-size: 24px;
}

.aside-padding {
    padding-top: 20px;
}

.oa-btn-transparent:focus {
    outline: none;
    color: #fff;
    background-color: var(--background-btn-hover);
    border-color: var(--background-btn-hover);
}

@media (min-width: 1025px) {
    .oa-btn-transparent:hover {
        color: #fff;
        background-color: var(--background-btn-hover);
        border-color: var(--background-btn-hover);
    }
}

.oa-btn-transparent:active {
    color: #fff;
    background-color: var(--background-btn-hover);
    border-color: var(--background-btn-hover);
}

.onearticle__img {
    margin-bottom: 28px;
    min-height: 636px;
    border-radius: 10px;
    overflow: hidden;
}

.onearticle__img_info {
    margin-bottom: 28px;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    color: #5d74d4;
}

.onearticle__titleh2 {
    margin-bottom: 32px;
    font-size: 44px;
}

.onearticle__paragraph {
    margin: 0;
    margin-bottom: 22px;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    color: #fff;
}

.onearticle__paragraph_mb38 {
    margin-bottom: 38px;
}

.onearticle__titleh3 {
    margin-bottom: 34px;
    font-size: 38px;
}

.onearticle__table {
    width: 100%;
    margin-bottom: 65px;
    border-collapse: collapse;
}

th {
    padding: 9px 9px 8px 20px;
    min-height: 40px;
    width: 50%;
    text-align: left;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
    color: #fff;
    border: 1px solid #3d4b6d;
    background-color: #5d74d4;
}

td {
    padding: 9px 9px 8px 20px;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    color: #fff;
    border: 1px solid #3d4b6d;
}

tbody tr:nth-child(even) {
    background-color: rgba(93, 116, 212, 0.2);
}

.onearticle__paragraph_mb62 {
    margin-bottom: 62px;
}

.onearticle__secondimg {
    margin-bottom: 58px;
}

.onearticle__titlelist {
    margin-bottom: 50px;
    font-size: 28px;
}

.onearticle__list {
    padding-left: 10px;
    margin-bottom: 29px;
}

.onearticle__item {
    position: relative;
    padding-left: 38px;
}

.onearticle__item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--hover-color);
}

.onearticle__item:not(:last-child) {
    margin-bottom: 8px;
}

.onearticle__innerlist {
    padding-top: 10px;
}

.onearticle__numericlist {
    margin-bottom: 67px;
    padding-left: 10px;
    counter-reset: section;
}

.onearticle__numericlist2 {
    padding-top: 13px;
    counter-reset: subsection;
}

.onearticle__numericitem {
    position: relative;
    padding-left: 25px;
    margin-bottom: 11px;
}

.onearticle__numericitem::before {
    position: absolute;
    left: 0;
    top: 0;
    counter-increment: section;
    content: counter(section) ". ";
    color: var(--hover-color);
}

.onearticle__numericitem2 {
    position: relative;
    padding-left: 44px;
    margin-bottom: 10px;
}

.onearticle__numericitem2::before {
    position: absolute;
    left: 0;
    top: 0;
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
    color: var(--hover-color);
}

.onearticle__numericlist3 {
    padding-top: 15px;
    counter-reset: subsubsection;
}

.onearticle__numericitem3 {
    position: relative;
    padding-left: 44px;
    margin-bottom: 10px;
}

.onearticle__numericitem3::before {
    position: absolute;
    left: 0;
    top: 0;
    counter-increment: subsubsection;
    content: counter(section) "." counter(subsection) "." counter(subsubsection);
    color: var(--hover-color);
}

.onearticle__paragraph_mb14 {
    margin-bottom: 14px;
}

.oa-video {
    padding-left: 127px;
    margin-bottom: 47px;
}

.onearticle__paragraph_mb46 {
    margin-bottom: 46px;
}

.onearticle__titleh4 {
    margin-bottom: 30px;
    font-size: 26px; 
}

.onearticle__paragraph_blockquote {
    margin-bottom: 33px;
    height: 104px;
    padding-top: 10px;
    padding-left: 44px;
    border-left: 6px solid var(--hover-color);
}

.onearticle__link {
    color: var(--hover-color);
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.onearticle__link:focus {
    color: #5d74d4;
    outline: none;
}

@media (min-width: 1025px) {
    .onearticle__link:hover {
        color: #5d74d4;
    }
}

.onearticle__link:active {
    color: #5d74d4;
}

.onearticle__paragraph_mb29 {
    margin-bottom: 29px;
}

.oa-tags__title {
    margin-bottom: 1px;
    color: var(--hover-color);
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 136%; 
}

.oa-tags__list {
    display: flex;
    gap: 8px;
}

.oa-tags__link {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    color: #fff;
    border: 1px solid #5d74d4;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.oa-tags__link:focus {
    outline: none;
    background-color: #5d74d4; 
}

@media (min-width: 1025px) {
    .oa-tags__link:hover {
        background-color: #5d74d4; 
    } 
}

.oa-tags__link:active {
    background-color: #5d74d4; 
}

.oa-text {
    margin-bottom: 13px;
}

.oa-title__margin {
    margin-bottom: 40px;
}

.oa-items {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.oa-item__mini {
    width: 100%;
    min-height: 230px;
}

.oa-item__article {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 35px;
    align-items: center; 
}

.oa-item__img {
    flex-shrink: 0;
    width: 340px;
    height: 230px;
    border-radius: 14px;
    overflow: hidden; 
}

.oa-item__title {
    margin-bottom: 10px;
    font-size: 24.618px;
    line-height: normal; 
    transition: color 0.3s ease-in-out;
}

.oa-item__paragraph {
    margin: 0;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.oa-item__link:focus {
    outline: none;
}

.oa-item__link:focus img {
    transform: scale(120%);
}

.oa-item__link:focus .oa-item__title {
    color: var(--hover-color);
}

.oa-item__link:focus .oa-item__paragraph {
    color: var(--hover-color);
} 

@media (min-width: 1025px) {
    .oa-item__link:hover img {
        transform: scale(120%);
    }
    
    .oa-item__link:hover .oa-item__title,
    .oa-item__link:hover .oa-item__paragraph {
        color: var(--hover-color);
    }
}

.oa-item__link:active img {
    transform: scale(120%);
}

.oa-item__link:active .oa-item__title,
.oa-item__link:active .oa-item__paragraph {
    color: var(--hover-color);
}

.other-articles {
    margin-bottom: 154px;
}