@font-face {
    font-family: "TrajanPro3";
    src: local("TrajanPro3 SemiBold"), local("TrajanPro3-SemiBold"),
    url("../fonts/TrajanPro3SemiBold.woff2") format("woff2"),
    url("../fonts/TrajanPro3SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;  
}

:root {
    --background-color: #060C1C;
    --button-background: linear-gradient(135deg, #4580D9 18.00%, #D036B8 100%);
    --hover-color: #81b3ff;
    --background-btn-hover: #5d75d4;
    --form-color: #384b7b;
    --footer-background-color: #0e1c40;
}

body {
    margin: 0;
    min-width: 375px;
    font-family: "Montserrat", "TrajanPro3";
    font-weight: 400;
    background-color: var(--background-color);
    background-image: url(./servicesimg/aboutMe.webp);
    background-repeat: repeat-y;
    background-position: top left;
    background-size: cover;
    overflow-x: hidden;
}


a {
    color: inherit;
    text-decoration: none;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 50px;
}

.section-back {
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "TrajanPro3";
    font-style: normal;
    font-weight: 600;
    line-height: 140.4%; 
}

.s-title {
    margin-bottom: 47px;
    text-align: center;
    font-size: 52px;
    font-family: "TrajanPro3";
    font-style: normal;
    font-weight: 600;
    line-height: 140.4%;
    color: #FFF;
}

.s-list {
    margin-bottom: 194px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 22px;
}

.s-list__item {
    width: calc((100% - 2 * 20px) / 3);
    min-height: 368px;
}

.s-list__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 229px 61px 40px;
    border-radius: 20px;
    border: 2px solid #3d4b6d;
    background-repeat: no-repeat;
    background-position: top 67px center;
    transition: background-color 0.3s ease-in-out;
}

.s-list__link:focus {
    outline: none;
    background-color: #1e2c69;
}

@media (min-width: 1025px) {
    .s-list__link:hover {
        background-color: #1e2c69;
    }
}

.s-list__link:active {
    background-color: #1e2c69;
}

.s-list__link_1 {
    background-image: url(./servicesimg/services1.svg);
}

.s-list__link_2 {
    background-position: top 47px center;
    background-image: url(./servicesimg/services2.svg);
}

.s-list__link_3 {
    background-image: url(./servicesimg/services3.svg);
}

.s-list__link_4 {
    padding-top: 239px;
    background-position: top 30px center;
    background-image: url(./servicesimg/services4.svg);
}

.s-list__link_5 {
    padding-top: 239px;
    background-position: top 30px center;
    background-image: url(./servicesimg/services5.svg);
}

.s-list__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 32px;
    font-family: "TrajanPro3";
    font-style: normal;
    font-weight: 600;
    line-height: 142.4%;
    color: #fff;
}

.s-list__descr {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
}

@media (max-width: 1280px) {
    .s-title {
        margin-bottom: 44px;
    }

    .s-list {
        row-gap: 19px;
        margin-bottom: 188px;
    }

    .s-list__item {
        min-height: 305px;
    }

    .s-list__title {
        font-size: 20px;  
    }

    .s-list__link {
        padding: 198px 20px 35px; 
        background-position: top 54px center;
    }

    .s-list__link_1 {
        background-size: 101px 116px;
    }
    
    .s-list__link_2 {
        background-position: top 39px center;
        background-size: 96px 144px;
    }
    
    .s-list__link_3 {
        background-size: 148px 93px;
    }
    
    .s-list__link_4 {
        padding-top: 198px;
        background-position: top 25px center;
        background-size: 148px 173px;
    }
    
    .s-list__link_5 {
        padding-top: 198px;
        background-position: top 22px center;
        background-size: 173px 166px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }

    .section-back {
        font-size: 14px;
    }

    .s-title {
        margin-bottom: 41px;
        font-size: 24px;
    }

    .s-list {
        margin-bottom: 41px;
    }

    .s-list__title {
        margin-bottom: 18px;
        font-size: 16px;  
    }

    .s-list__descr {
        font-size: 14px; 
    }
}

@media (max-width: 768px) {
    .s-list__link {
        padding: 149px 15px 41px; 
        background-position: top 49px center;
    }

    .s-list__link_1 {
        background-size: 61px 70px;
    }
    
    .s-list__link_2 {
        background-size: 56px 86px;
    }
    
    .s-list__link_3 {
        background-size: 89px 56px;
    }
    
    .s-list__link_4 {
        background-position: top 33px center;
        background-size: 89px 103px;
    }
    
    .s-list__link_5 {
        background-position: top 42px center;
        background-size: 103px 99px;
    }
}

@media (max-width: 576px) {
    .s-list {
        margin-bottom: 89px;
        column-gap: 10px;
        row-gap: 10px;
    }

    .s-list__item {
        width: calc((100% - 10px) / 2);
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

    .s-title {
        margin-bottom: 34px;
    }

    .s-list__item {
        min-height: 246px;
    }

    .s-list__link {
        padding: 126px 12px 30px; 
        background-position: top 34px center;
    }

    .s-list__title {
        margin-bottom: 10px;
        font-size: 14px;  
    }

    .s-list__descr {
        font-size: 12px; 
    }

    .s-list__link_1 {
        background-size: 63px 73px;
    }
    
    .s-list__link_2 {
        background-size: 50px 78px;
    }
    
    .s-list__link_3 {
        background-size: 100px 63px;
    }
    
    .s-list__link_4 {
        background-position: top 20px center;
        background-size: 80px 93px;
    }
    
    .s-list__link_5 {
        background-position: top 30px center;
        background-size: 94px 82px;
    }
}

