@font-face {
    font-family: "TrajanPro3";
    src: local("TrajanPro3 SemiBold"), local("TrajanPro3-SemiBold"),
    url("../fonts/TrajanPro3SemiBold.woff2") format("woff2"),
    url("../fonts/TrajanPro3SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/MontserratMedium.woff2") format("woff2"),
    url("../fonts/MontserratMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;  
}

:root {
    --background-color: #060C1C;
    --button-background: linear-gradient(135deg, #4580D9 18.00%, #D036B8 100%);
    --hover-color: #81b3ff;
    --background-btn-hover: #5d75d4;
    --form-color: #384b7b;
    --footer-background-color: #0e1c40;
}

body {
    margin: 0;
    min-width: 375px;
    font-family: "Montserrat", "TrajanPro3";
    font-weight: 400;
    background-color: var(--background-color);
    background-image: url(./articlesimg/back.webp);
    background-repeat: repeat-y;
    background-position: top left;
    background-size: cover;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.btn {
    padding: 0;
    border: 1px solid transparent;
    font-family: "Montserrat";
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 50px;
}

.section-back {
    margin-bottom: 17px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: "TrajanPro3";
    font-style: normal;
    font-weight: 600;
    line-height: 140.4%; 
}

.ar-title {
    margin-bottom: 57px;
    text-align: center;
    font-size: 52px;
    font-family: "TrajanPro3";
    font-style: normal;
    font-weight: 600;
    line-height: 140.4%;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.btn-colored {
    position: relative;
    z-index: 5;
    padding: 10px 37px;
    color: #FFF;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 500;
    border: none;
    border-radius: 81px;
    background-color: var(--background-btn-hover);
    border-color: var(--background-btn-hover);
    overflow: hidden;
}

.btn-colored::before {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    background-image: var(--button-background);
    transition: opacity 0.3s ease-in-out;
}

.btn-colored:focus::before {
    opacity: 0;
}

.btn-colored:focus {
    outline: none;
}

@media (min-width: 1025px) {
    .btn-colored:hover::before {
        opacity: 0;
    }
}

.btn-colored:active::before {
    opacity: 0;
}

.ar-center {
    text-align: center;
    position: relative;
}

.ar-articles {
    display: grid;
    gap: 20px;
    grid-template: "grid-1 grid-2"
                   "grid-1 grid-3"
                   "grid-5 grid-4"
                   "grid-6 grid-4"
                   / 1fr 1fr;
    grid-auto-flow: row dense;
    margin-bottom: 90px;
}

.articles__item_grid-6 {
    grid-area: grid-6;
}

.articles__item_grid-5 {
    padding-top: 20px;
    grid-area: grid-5;
}

.articles__item_grid-4 {
    padding-top: 20px;
    grid-area: grid-4;
}

.articles__item_grid-3 {
    grid-area: grid-3;
}

.articles__item_grid-2 {
    grid-area: grid-2;
}

.articles__item_grid-1 {
    grid-area: grid-1;
}

.ar-center::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #3d4b6d;
}

.articles__item {
    min-height: 469px;
}

.articles__img {
    margin-bottom: 18px;
    min-height: 372px;
    border-radius: 14px;
    overflow: hidden;
}

.articles__title {
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
}

.ar-articles__paragraph {
    margin: 0;
    max-width: 84%;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.item__img {
    width: 340px;
    height: 230px;
    border-radius: 14px;
    overflow: hidden; 
}

.item__text {
    max-width: 320px;
}

.ar-item__paragraph {
    margin: 0;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.item__title {
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
}

.item__article {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center; 
}

.articles__link:focus {
    outline: none;
}

.articles__link:focus img {
    transform: scale(1.2);
}

.articles__link:focus .ar-title {
    color: var(--hover-color);
}

.articles__link:focus .ar-articles__paragraph,
.articles__link:focus .ar-item__paragraph {
    color: var(--hover-color);
} 

@media (min-width: 1025px) {
    .articles__link:hover img {
        transform: scale(1.2);
    }

    .articles__link:hover .ar-title {
        color: var(--hover-color);
    }

    .articles__link:hover .ar-articles__paragraph,
    .articles__link:hover .ar-item__paragraph {
        color: var(--hover-color);
    } 
}

.articles__link:active img {
    transform: scale(1.2);
}

.articles__link:active .ar-title {
    color: var(--hover-color);
}

.articles__link:active .ar-articles__paragraph,
.articles__link:active .ar-item__paragraph {
    color: var(--hover-color);
} 

.ar-center__margin {
    margin-bottom: 90px;
}

.ar-tegs {
    margin-bottom: 80px;
}

.ar-tags__title {
    margin-bottom: 14px;
    color: var(--hover-color);
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 136%; 
}

.ar-tags__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.ar-tags__link {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    color: #fff;
    border: 1px solid #5d74d4;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.ar-tags__link:focus {
    outline: none;
    background-color: #5d74d4; 
}

@media (min-width: 1025px) {
    .ar-tags__link:hover {
        background-color: #5d74d4; 
    } 
}

.ar-tags__link:active {
    background-color: #5d74d4; 
}

@media (max-width: 1500px) {
    .articles__item {
        min-height: 0;
    }

    .articles__img {
        min-height: 0;
    }
}

@media (max-width: 1280px) {
    .container {
        padding: 0 40px; 
    }

    .section-back {
        margin-bottom: 35px;
    }

    .ar-title {
        margin-bottom: 44px;
        font-size: 40px;
    }

    .articles__title {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .ar-articles__paragraph {
        max-width: 100%;
    }

    .articles__item_grid-5 {
        padding-top: 0;
    }
    
    .articles__item_grid-4 {
        padding-top: 0;
    }

    .item__article {
        gap: 20px;
    }

    .item__title {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .item__text {
        max-width: 280px;
    }

    .articles__img {
        margin-bottom: 22px;
        min-height: 0;
        height: 308px;

    }

    .item__img {
        width: 280px;
        height: 189px;
    }

    .articles__item_grid-7 {
        padding-top: 60px;
    }

    .ar-center__margin {
        margin-bottom: 57px;
    }

    .ar-tags__title {
        margin-bottom: 18px;
    }

    .ar-tegs {
        margin-bottom: 25px;
    }
}

@media (max-width: 1160px) {
    .container {
        padding: 0 20px; 
    }
}

@media (max-width: 1024px) {
    .ar-articles {
        grid-template: "grid-1 grid-2"
                       "grid-3 grid-4"
                       "grid-5 grid-6"
                       "grid-7 grid-7"
                       / 1fr 1fr;
    }

    .articles__img {
        height: 182px;
    }

    .item__article {
        flex-direction: column;
    }

    .item__img {
        width: 100%;
        height: 182px;
    }

    .item__text {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .section-back {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .ar-title {
        margin-bottom: 40px;
        font-size: 24px;
    }

    .ar-articles {
        row-gap: 45px;
    }

    .articles__title {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .item__title {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .articles__item_grid-7 {
        padding-top: 0;
    }

    .ar-center::before {
        top: 50%; 
    }

    .ar-center__margin {
        margin-bottom: 54px;
    }

    .ar-tegs {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }

    .section-back {
        margin-bottom: 20px;
    }

    .ar-title {
        margin-bottom: 20px;
    }

    .ar-articles {
        row-gap: 39px;
        grid-template:
            "grid-1" 
            "grid-2"
            "grid-3"
            "grid-4"
            "grid-5"
            "grid-6"
            "grid-7"
            "grid-7" / 1fr;
    }

    .articles__img {
        height: 189px;
    }

    .item__img {
        height: 189px;
    }

    .articles__title {
        margin-bottom: 10px;
    }

    .item__title {
        margin-bottom: 10px;
    }

    .articles__item_grid-7 {
        padding-top: 13px;
    }

    .ar-center::before {
        top: 63%;
    }

    .ar-center__margin {
        margin-bottom: 48px;
    }

    .ar-tegs {
        margin-bottom: 84px;
    }
}

